In [3]:
import pandas as pd

In [4]:
file_path = './data.csv'
df = pd.read_csv(file_path, delimiter=';', encoding='utf-8')

In [8]:
df.head(1)

,titre,description,archive,typeform,catform,deflang,username,datecreat,datedeb,datefin,...,PrisFruits,ConnaissancePrixHerbes,ConnaissancePrixLégumesSecs,PrixLegumesSecs,ConnaissancePrixViandes,ConnaissancePrixEpicerie,ProduitsEnRupture,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Prix des produits de premières nécessités (der...,Les produits de premières nécessités doivent ê...,False,O2B,SONDAGE SANS TENIR COMPTE DU CSP,French,hichem,"2/11/2023, 9:01:06 AM","2/11/2023, 9:00:40 AM","3/1/2023, 9:58:59 PM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.head(5)

,titre,description,archive,typeform,catform,deflang,username,datecreat,datedeb,datefin,...,PrisFruits,ConnaissancePrixHerbes,ConnaissancePrixLégumesSecs,PrixLegumesSecs,ConnaissancePrixViandes,ConnaissancePrixEpicerie,ProduitsEnRupture,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,Prix des produits de premières nécessités (der...,Les produits de premières nécessités doivent ê...,False,O2B,SONDAGE SANS TENIR COMPTE DU CSP,French,hichem,"2/11/2023, 9:01:06 AM","2/11/2023, 9:00:40 AM","3/1/2023, 9:58:59 PM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Prix des produits de premières nécessités (der...,Les produits de premières nécessités doivent ê...,False,O2B,SONDAGE SANS TENIR COMPTE DU CSP,French,hichem,"2/11/2023, 9:01:06 AM","2/11/2023, 9:00:40 AM","3/1/2023, 9:58:59 PM",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Prix des produits de premières nécessités (der...,Les produits de premières nécessités doivent ê...,False,O2B,SONDAGE SANS TENIR COMPTE DU CSP,French,hichem,"2/11/2023, 9:01:06 AM","2/11/2023, 9:00:40 AM","3/1/2023, 9:58:59 PM",...,"500,500,400,600,250,500","OuiPrixHerbes,","20,20,58,30,20","OuiPrixLegumesSecs,","350,400,400","OuiPrixViandes,","540,2400,2500,800","OuiPrixEpicerie,","600,100,90,90,90,100,180,80,25,300,100,250",",,,PasDeRupture"
3,Prix des produits de premières nécessités (der...,Les produits de premières nécessités doivent ê...,False,O2B,SONDAGE SANS TENIR COMPTE DU CSP,French,hichem,"2/11/2023, 9:01:06 AM","2/11/2023, 9:00:40 AM","3/1/2023, 9:58:59 PM",...,",,,,,",",NonPrixHerbes",",,,,",",NonPrixLegumesSecs",",,",",NonPrixViandes",",,,",",NonProduitsEpicerie",",,,,,,,,,,,",",,,"
4,Prix des produits de premières nécessités (der...,Les produits de premières nécessités doivent ê...,False,O2B,SONDAGE SANS TENIR COMPTE DU CSP,French,hichem,"2/11/2023, 9:01:06 AM","2/11/2023, 9:00:40 AM","3/1/2023, 9:58:59 PM",...,"400,480,,700,250,","OuiPrixHerbes,","25,25,,25,25",",NonPrixLegumesSecs",",,","OuiPrixViandes,","490,,,","OuiPrixEpicerie,","700,85,,,,,,,25,650,95,240",",,,PasDeRupture"